/**FONTS**/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); /**bold**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /**medium**/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /**regular**/

:root {
    --yashil: #1dd1a1;
    --qora: #343434;
}

* {
	box-sizing: border-box!important;
    font-family: Verdana, Arial, sans-serif;
}
html {
    overflow-x: hidden !important;
}
body {  
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    background-color: #f5f5f5;
    color: var(--qora);
}
.clr {
    clear: both;
}
.col-md-2, .col-md-4, .col-md-7, .col-md-3 {
    float: left;
}

/*   NAVIGATION BAR  */
.navigationBar {
    background-color: #ffffff!important;
}
.navbar-toggler {
    outline: none!important;
    border: 1px solid var(--yashil)!important;
    font-size: 15px!important;
    box-shadow: none !important;
}
.navbar-toggler:focus {
    border: 2px solid var(--yashil) !important;
}
.nav-link {
    margin: 0px 20px;
    font-weight: 600;
    font-size: 14px;
    color: var(--qora) !important;
    transition: .3s ease;
}
.nav-link:hover {
    color: var(--yashil) !important;
}

/*  Right Side  */
.full-name {
    display: inline-block;
    margin: 10px 5px -5px;
}
#fullName {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px -4px;
}
.full-name > p, .full-name > p > span {
    display: inline-block;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    color: #ababab;
}
.user-pic {
    display: inline-block;
    background: #ababab;
    width: 33px;
    height: 33px;
    border-radius: 6px;
    margin: 10px 5px 0px 15px;
    transition: 0.3s ease;
}
.user-pic > i {
    font-size: 21px;
    color: #fff;
    margin: 7px;
}
.fa-search, .fa-bell {
    color: #ababab;
    font-size: 25px;
    padding: 24px 15px;
    margin: -10px 0px -8px;
    transition: 0.3s ease;
    border-right: 1px solid #09374433;
    border-left: 1px solid #09374433
}
.fa-search:hover, .fa-bell:hover, .user-pic:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65);
}
.fa-bell {
    border-left: none;
}
.menu-btn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer !important;
    background: transparent;
    margin: 5px 0 0 50px;
    transition: .3s ease;
}
.menu-btn:hover {
    border: 1px solid var(--qora);
}
/*  Righ Side End  */

  /*  NAVIGATION BAR End  */

/*  Main Part  */
.settings-h3 {
    margin: 70px 0px 10px;
    font-weight: bold;
    color: #111111;
    font-size: 30px;
    line-height: 36px;
}
.picSet {
    cursor: pointer;
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 31px 0px 0;
    border: 1px solid #ababab;
    background: transparent;   
    transition: .3s ease-out; 
}
.picSet:hover {
    background: #ababab;
}
.subtract {
    position: absolute;
    bottom: 0;
}
.camera-icon {
    position: absolute;
    bottom: 18px;
    left: 53.33px;
}

.input-cards {
    position: relative;
    width: 340px;
    height: 70px;
    border-radius: 6px;
    background-color: #fff;
    margin: 20px 0;
    padding: 0;
}
.input-icon {
    display: inline-block;
    width: 50px;
    height: 100%;
    padding: 20px 12px 0;
}
.input-cards > p {
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    color: #818181;
    top: 6px;
    left: 53px;
}
.input-cards > input {
    position: absolute;
    width: 70%;
    font-size: 20px;
    line-height: 23px;
    color: var(--qora);
    outline: none;
    border: none;
    top: 31px;
}

#resetBtn, #resetCardBtn {
    color: #FB4767;
    border: 1px solid #FB4767;
    border-radius: 6px;
    background: transparent;
    outline: none;
    transition: .3s ease;
    margin: 20px 18px 0 0;
    padding: 11px 37px 10px 23px;
}
#resetBtn:hover, #resetCardBtn:hover { 
    color: #ffffff;
    background: #FB4767;
}
.fa-trash {
    color: #FB4767;
    transition: .35s ease;
}
#submitBtn {
    color: #ffffff;
    border: 1px solid var(--yashil);
    border-radius: 6px;
    background: var(--yashil);
    outline: none;
    margin: 0 0px 0px 18px;
    padding: 10px 42px;
    transition: .3s ease;
}
#submitBtn:hover {
    color: var(--yashil);
    background-color: transparent;
}
#resetCardBtn {
    width: 150px;
    margin: 20px 0 0 30px;
}
.card {
    width: 550px;
    height: 210px;
    background: #ffffff;
    margin: 40px 0px;
    border-radius: 0px;
}
#myBlock1 {
    width: 33%;
    margin: 40px 0px 0px 25px;
}
#myBlock2 {
    width: 33%;
    margin: -59px 0px 0px 210px;
}
#myBlock3 {
    width: 33%;
    margin: -58px 0px 0px 380px;
}
.myBlock > h2 {
    color: #333;
    font-weight: 1000;
    font-size: 42px;
    display: inline-block;
}
.myBlock > p {
    margin: -2px 0px 0px 6px;
    font-size: 12px;
    color: #888;
    display: inline-block;
    line-height: 15px
}

/*   FOOTER   */
footer {
    height: 120px;
    background-color: #093845;
    padding: 38px 0 10px;
    margin-top: 100px;
}
ul {
    list-style-type: none;
}
.footer-link {
    font-size: 16px;
    line-height: 19px;
    color: #F6FCFA !important;
    text-decoration: none;
    display: inline-block;
    margin: 15px 23px 0;
}
.footer-link:hover {
    text-decoration: underline;
}
.icons > i {
    color: #F6FCFA !important;
    font-size: 23px;
    opacity: .5;
    margin: 15px 12px;
    cursor: pointer;
    transition: .3s ease;
}
.icons > i:hover {
    opacity: 1;
}
footer > .container > p {
    opacity: .5;
    font-size: 12px;
    line-height: 14px;
}

/*   FOOTER End   */
/*  Computer Version End  */

/*  ==== RESPONSIVE ==== */
 
@media screen and (max-width: 1399px) {
    .icons > i {
        margin: 15px 10px;
    }
}

@media screen and (max-width: 1199px) {
    .nav-link {
        margin: 0px 8px;
    }
    .input-cards {
        width: 100%;
        height: 60px;
    }
    #resetBtn, #resetCardBtn {
        margin: 20px 10px 0 0;
        padding: 10px 28px 10px 23px;
    }
    #submitBtn {
        padding: 10px 35px;
    }
    #resetCardBtn {
        margin: 20px 0 0 30px;
    }
    .footer-link {
        margin: 15px 10px 0;
    }
    .icons > i {
        margin: 15px 6px;
    }
}

@media screen and (max-width: 991px) {
    .nav-link {
        text-align: center;
    }
    .nav-right-block {
        width: 100%;
        justify-content: center;
    }
    .fa-search, .fa-bell {
        border: none;
        margin: -10px 0 0;
    }
    #submitBtn {
        margin-left: 8px;
    }
    .card {
        width: 520px;
    }
    #myBlock2 {
        margin: -59px 0px 0px 190px;
    }
    #myBlock3 {
        margin: -58px 0px 0px 350px;
    }
    .col-md-4 {
        margin-left: 100px;
        width: calc(100% / 12 * 5.37);
    }
    footer {
        height: auto;
        text-align: center;
    }
    .col-md-7, .col-md-3, .icons  {
        width: 100%;
    }
    .footer-link {
        margin: 15px 5px 0;
    }
    footer > .container > p {
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .menu-btn {
        margin: 5px 0 0 5px;
    }
    .user-pic {
        margin: 10px 5px 0px 5px;
    }
    .fa-search, .fa-bell {
        padding: 24px 5px;
    }
    .settings-h3 {
        text-align: center;
    }
    .col-md-4 {
        margin-left: 50px;
        width: calc(100% / 12 * 7);
    }
    .card {
        width: 320px;
    }
    .picSet {
        margin: 30px auto 0;
    }
    #resetBtn, #resetCardBtn {
        width: 45%;
        margin: 20px 4% 0 0;
    }
    #submitBtn {
        width: 45.233%;
        margin-left: 4%;
    }
    #myBlock1, #myBlock2, #myBlock3 {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .col-md-2, .col-md-4 {
        width: 100%;
        margin: 2px 0;
    }
    #resetCardBtn {
        width: 50%;
        display: block;
        margin: 0 auto !important;
    }
    .card {
        height: 320px;
        width: 100%;
    }
    .footer-link { 
        display: block;
    }

}